.navbar.navbar-default.navbar-fixed-bottom
    .container
        p.navbar-text.pull-left
            © 2017 - Site Built By Mr. Mungae.
            a(href='http://blog.naver.com/pjt3591oo', target='_blank')  MyBlog

        a.navbar-btn.btn-danger.btn.pull-right(href='https://github.com/pjt3591oo/board-node.js')
            span.glyphicon.glyphicon-star Subscribe on Github