extends ../layout/layout

block content
    form(method="PUT" action="/API_V1/posts/write/" + postInfo.id)
        .form-group
            label(for='exampleInputEmail1') title
            input#exampleInputEmail1.form-control(type='text', name="title", placeholder='Email', value=postInfo.title)
            label(for='exampleInputEmail1') content
            textarea.form-control(rows='5', name="content") #{postInfo.content}

        .add-another
            button.btn.btn-default(type="submit") 수정하기